:root {
    --couleur-bouton-off: #ca3c53;
}

body {
    height: 360px;
    width: 250px;
    padding: 0;
    margin: 0;
    background-color: #F2F2F2;
}

header {
    height: 80px;
}

header>img {
    height: 80px;
    margin: 15px;
    margin: auto;
    display: block;
}

main {
    margin: 20px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.bouton {
    height: 45px;
    background-color: #62aeef;
    color: #F2F2F2;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 5px;
    text-align: center;
    transition-duration: 0.3s;
    box-sizing: border-box;
}

.bouton:not(.impossible):hover {
    border: solid 1px #7C87A6;
    background-color: #F2F2F2;
    color: black;
}

.impossible {
    overflow: hidden;
    position: relative;
    background-color: #f2f2f2;
}

.impossible>span {
    animation: click;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    position: absolute;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
}

.impossible>.bulle1 {
    background-color: var(--couleur-bouton-off);
    opacity: 0.3;
    animation-duration: 0.6s;
}

.impossible>.bulle2 {
    background-color: var(--couleur-bouton-off);
    opacity: 0.2;
    animation-duration: 0.4s;
}

.impossible>.bulle3 {
    background-color: var(--couleur-bouton-off);
    opacity: 1;
    animation-duration: 0.7s;
}

.impossible>div {
    transform: translateZ(0);
}

@keyframes click {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(3);
    }
}

#animation {
    height: calc(250px/2);
    z-index: 2;
    position: relative;
    overflow: hidden;
}

#fond {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    background-image: radial-gradient(#e2b34fb9 0%, #e2b34fb9 30%, #00800000 36%), radial-gradient(#ffaf002b 0%, #ffaf002b 40%, #00800000 46%), radial-gradient(#ffe500bb 20%, #00800000 65%);
}

#bateau {
    position: absolute;
    left: 50%;
    fill: red;
    width: 60px;
    transform: translateX(-50%) scaleX(-1);
}

.vagueContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.vague{
    animation-name: vagueMouvement;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.vague svg{
    width: 200%;
    position: absolute;
    top:0;
    left: 0;
}

.vague1{
    animation-duration: 10s;
}

.vague1 path {
    fill: #677fe9;
}

.vague2{
    animation-duration: 6s;
}

.vague2 path {
    fill: #1734b9;
}

.vague3{
    animation-duration: 3s;
}

.vague3 path {
    fill: #3657eb;
}

.vague4{
    animation-duration: 8s;
}

.vague4 path {
    fill: #3e86e6;
}

.vague5{
    animation-duration: 8s;
}

.vague5 path {
    fill: #2b43af;
}

@keyframes vagueMouvement{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

#footersvg {
    position: absolute;
    bottom: 0;
    transform: translateZ(0);
    fill: #7189f0;
    z-index: 5;
}

footer {
    position: absolute;
    bottom: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    z-index: 20;
}

footer>* {
    margin: 2px;
}

footer a {
    color: black;
    display: flex;
}

footer a p {
    margin: 0;
}

footer a img {
    height: 15px;
    margin-right: 5px;
}

#heart {
    color: #e25555;
}

#out {
    position: absolute;
    bottom: -200px;
}